{% extends 'incidents/base.html' %}

{% block content %}
<h2>Create Incident</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="title" placeholder="Title" class="form-control mb-2" required>
    <textarea name="description" placeholder="Description" class="form-control mb-2" required></textarea>

    <select name="priority" class="form-control mb-2">
        <option value="P1">Critical</option>
        <option value="P2">High</option>
        <option value="P3">Medium</option>
        <option value="P4">Low</option>
    </select>

    <select name="status" class="form-control mb-2">
        <option value="OPEN">Open</option>
        <option value="RESOLVED">Resolved</option>
    </select>

    <button class="btn btn-success">Create</button>
</form>
{% endblock %}