{% extends 'incidents/base.html' %}

{% block content %}

<h2>Report New Incident</h2>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Severity</label>
        <select name="severity" class="form-select">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
            <option>Critical</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="text" name="location" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Reported By</label>
        <input type="text" name="reported_by" class="form-control" required>
    </div>

    <button class="btn btn-success">
        Submit Incident
    </button>

</form>

{% endblock %}