{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Incident Dashboard</h2>

    <!-- COUNT CARDS -->
    <div class="row mb-4 text-center">

        <div class="col-md-2">
            <div class="card text-white bg-danger p-3">
                <h6>P1 - Critical</h6>
                <h2>{{ p1_count }}</h2>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-white p-3" style="background-color:#fd7e14;">
                <h6>P2 - High</h6>
                <h2>{{ p2_count }}</h2>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-dark p-3" style="background-color:#ffc107;">
                <h6>P3 - Medium</h6>
                <h2>{{ p3_count }}</h2>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-white bg-primary p-3">
                <h6>P4 - Low</h6>
                <h2>{{ p4_count }}</h2>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-white bg-success p-3">
                <h6>Resolved</h6>
                <h2>{{ resolved_count }}</h2>
            </div>
        </div>

    </div>

    <!-- INCIDENT LIST -->
    {% for incident in incidents %}
    <div class="card mb-3 p-3">

        <h5>{{ incident.title }}</h5>
        <p>{{ incident.description }}</p>

        <!-- PRIORITY BADGE -->
        <span class="badge 
            {% if incident.priority == 'P1' %}bg-danger
            {% elif incident.priority == 'P2' %}" style="background-color:#fd7e14;"
            {% elif incident.priority == 'P3' %}" style="background-color:#ffc107; color:black;"
            {% elif incident.priority == 'P4' %}bg-primary
            {% endif %}
        ">
            {{ incident.get_priority_display }}
        </span>

        <!-- STATUS BADGE -->
        <span class="badge 
            {% if incident.status == 'RESOLVED' %}bg-success
            {% else %}bg-secondary
            {% endif %}
        ">
            {{ incident.status }}
        </span>

        <p class="mt-2">
            📍 {{ incident.location }} |
            👤 {{ incident.reported_by }} |
            🕒 {{ incident.created_at }}
        </p>

    </div>
    {% empty %}
        <p>No incidents reported yet.</p>
    {% endfor %}

</div>

{% endblock %}