{% extends 'incidents/base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Incident Dashboard v2.0 CI/CD Testing </h2>
    <a href="{% url 'create' %}" class="btn btn-primary">+ Create Incident</a>
</div>

<!-- Summary Cards -->
<div class="row mb-4">
    <div class="col"><div class="card text-center bg-danger text-white"><div class="card-body">P1 - Critical<br><h3>{{ p1_count }}</h3></div></div></div>
    <div class="col"><div class="card text-center bg-warning"><div class="card-body">P2 - High<br><h3>{{ p2_count }}</h3></div></div></div>
    <div class="col"><div class="card text-center bg-warning"><div class="card-body">P3 - Medium<br><h3>{{ p3_count }}</h3></div></div></div>
    <div class="col"><div class="card text-center bg-primary text-white"><div class="card-body">P4 - Low<br><h3>{{ p4_count }}</h3></div></div></div>
    <div class="col"><div class="card text-center bg-success text-white"><div class="card-body">Resolved<br><h3>{{ resolved_count }}</h3></div></div></div>
</div>

<!-- INCIDENT LIST -->
<div class="card shadow-sm mt-4">
    <div class="card-body">

        <h5 class="mb-3">Incident List</h5>

        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for incident in incidents %}
                <tr>
                    <td><strong>{{ incident.title }}</strong></td>

                    <td>{{ incident.description }}</td>

                    <td>
                        <span class="badge 
                            {% if incident.priority == 'Critical' %}bg-danger
                            {% elif incident.priority == 'High' %}bg-warning text-dark
                            {% elif incident.priority == 'Medium' %}bg-info text-dark
                            {% else %}bg-primary
                            {% endif %}
                        ">
                            {{ incident.get_priority_display }}
                        </span>
                    </td>

                    <td>
                        <span class="badge 
                            {% if incident.status == 'Resolved' %}bg-success
                            {% elif incident.status == 'In Progress' %}bg-warning text-dark
                            {% elif incident.status == 'On Hold' %}bg-secondary
                            {% else %}bg-dark
                            {% endif %}
                        ">
                            {{ incident.status }}
                        </span>
                    </td>

                    <td>
                        <a href="{% url 'update' incident.id %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'delete' incident.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}