{% extends 'incidents/base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Incident Dashboard</h2>
    <a href="{% url 'create' %}" class="btn btn-primary">+ Create Incident</a>
</div>

<!-- Summary Cards -->
<div class="row mb-4">
    <div class="col"><div class="card text-center bg-danger text-white"><div class="card-body">P1 - Critical<br><h3>{{ p1_count }}</h3></div></div></div>
    <div class="col"><div class="card text-center bg-warning"><div class="card-body">P2 - High<br><h3>{{ p2_count }}</h3></div></div></div>
    <div class="col"><div class="card text-center bg-warning"><div class="card-body">P3 - Medium<br><h3>{{ p3_count }}</h3></div></div></div>
    <div class="col"><div class="card text-center bg-primary text-white"><div class="card-body">P4 - Low<br><h3>{{ p4_count }}</h3></div></div></div>
    <div class="col"><div class="card text-center bg-success text-white"><div class="card-body">Resolved<br><h3>{{ resolved_count }}</h3></div></div></div>
</div>

<!-- INCIDENT LIST -->
{% for incident in incidents %}
<div class="card mb-3 shadow-sm border-0">
    <div class="card-body">

        <!-- HEADER -->
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <h5 class="fw-bold mb-1">{{ incident.title }}</h5>
                <p class="text-muted small mb-2">
                    {{ incident.description }}
                </p>
            </div>
        </div>

        <!-- TAGS -->
        <div class="d-flex gap-2 mb-3">

            <!-- PRIORITY -->
            {% if incident.priority == 'Critical' %}
                <span class="badge bg-danger">P1 - Critical</span>
            {% elif incident.priority == 'High' %}
                <span class="badge bg-warning text-dark">P2 - High</span>
            {% elif incident.priority == 'Medium' %}
                <span class="badge bg-warning text-dark">P3 - Medium</span>
            {% else %}
                <span class="badge bg-primary">P4 - Low</span>
            {% endif %}

            <!-- STATUS -->
            {% if incident.status == 'Open' %}
                <span class="badge bg-secondary">Open</span>
            {% elif incident.status == 'In Progress' %}
                <span class="badge bg-info text-dark">In Progress</span>
            {% elif incident.status == 'On Hold' %}
                <span class="badge bg-dark">On Hold</span>
            {% else %}
                <span class="badge bg-success">Resolved</span>
            {% endif %}

        </div>

        <!-- ACTIONS -->
        <div class="d-flex justify-content-end gap-2">
            <a href="{% url 'update' incident.id %}" class="btn btn-outline-warning btn-sm">Edit</a>
            <a href="{% url 'delete' incident.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
        </div>

    </div>
</div>
{% empty %}
<p>No incidents found.</p>
{% endfor %}

{% endblock %}