{% extends 'incidents/base.html' %}

{% block content %}
<h2>Update Incident</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="title" value="{{ incident.title }}" class="form-control mb-2">
    <textarea name="description" class="form-control mb-2">{{ incident.description }}</textarea>

    <select name="priority" class="form-control mb-2">
        <option value="P1" {% if incident.priority == 'P1' %}selected{% endif %}>Critical</option>
        <option value="P2" {% if incident.priority == 'P2' %}selected{% endif %}>High</option>
        <option value="P3" {% if incident.priority == 'P3' %}selected{% endif %}>Medium</option>
        <option value="P4" {% if incident.priority == 'P4' %}selected{% endif %}>Low</option>
    </select>

    <select name="status" class="form-control mb-2">
        <option value="OPEN" {% if incident.status == 'OPEN' %}selected{% endif %}>Open</option>
        <option value="RESOLVED" {% if incident.status == 'RESOLVED' %}selected{% endif %}>Resolved</option>
    </select>

    <button class="btn btn-primary">Update</button>
</form>
{% endblock %}